<!-- Fixed navbar -->
<style type = text/css>
    .navbar-static-top{
        background-color: darkgray;
        font-size: 17px;
    }
    .navbar-brand{
        font-size: 17px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container"> <a class="navbar-brand" href="{% url 'home' %}">
        <i class="fa d-inline fa-lg fa-circle-o"></i>
        <b> Sistem Informasi Mahasiswa UI</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar17">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar17">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a class="nav-link" href="{% url 'kepanitiaan' %}">Kepanitiaan</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'organisasi' %}">Organisasi</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'event' %}">Event</a> </li>
        </ul>
        <a class="btn btn-outline-light navbar-btn ml-md-2" href="/login"><i class="fa fa-user fa-fw"></i>Log In</a>
      </div>
    </div>
 </nav>
