{% extends 'layout/base.html' %}

{% block subtitle %} Daftar Organisasi {% endblock %}

{% block content %}

  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="">
          <div style="margin-top: 20px">
            <div class="col-md-12">
                <h3 class="">Form Pendaftaran Organisasi</h3>
            </div>
            <div class="container">
                <form action="{% url 'organisasi-create' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-primary" style="margin-top: 20px" type="submit" value="Submit">
                        Submit
                    </button>
                </form>
            </div>
        </div>
        </div>
        <div class="col-md-6 ml-0" style="	background-image: linear-gradient(to bottom, rgb(18, 187, 173), rgb(18, 187, 173));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <div class="row mb-3">
            <div class="col-md-12">
              <h2 class="mb-2">Daftar organisasi </h2>
            </div>
          </div>
          <ul class="list-group">
            {% for org in orgs %}
            <li class="list-group-item d-flex text-center text-uppercase justify-content-between align-items-center" id={{org.0}} > {{ org.2 }}
                <div class="row mb-3">
                    <div class="col-md-6"><a class="btn btn-secondary" href="{% url 'organisasi-update' org.1 %}">Update</a></div>
                    <div class="col-md-6"><a class="btn btn-warning" data-toggle="modal" data-target="#deleteOrg">Delete</a></div>
                </div>
            </li>
            

            <div id="deleteOrg" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <strong>Yakin mau menghapus organisasi ini?</strong>
                  </div>
                  <div class="modal-footer">
                    
                      <a class="btn btn-warning" href="{% url 'organisasi-delete' org.1 %}">YES</a>
                      <a class="btn btn-primary" data-dismiss="modal">NO</a>

                  </div>
                </div>
              </div>
            </div>

            {% endfor %}


          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}