{% extends 'layout/base.html' %}

{% block subtitle %} Masuk {% endblock %}

{% block content %}
  <div class="py-5">
    <div class="col-md-12">
          <h3 class="">Daftar Organisasi Mahasiswa UI</h3>
        </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="">
          <ul class="list-group">
            {% for org in orgs %}
            <li class="list-group-item d-flex justify-content-between align-items-center"> {{ org.2 }} </li>
              {% endfor %}
          </ul>
            <a href="{% url 'organisasi-detail' %}" class="btn btn-primary">Lihat detail</a>
        </div>
        <div class="col-md-5 offset-md-1" style="">
          <h4 class="">Daftarkan Organisasi Anda!</h4>
          <h5 class="">Klik tombol dibawah untuk mendaftarkan organisasi Anda!</h5>
          <form id="c_form-h" class="" style="">
            <div class="col-md-6"><a class="btn btn-secondary" href="{% url 'organisasi-create' %}">Daftarkan Organisasi</a></div>


          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
