{% extends 'layout/base.html' %}

{% block subtitle %} Update Kepanitiaan {% endblock %}

{% block content %}

  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="">
          <div class="row">
            <div class="col-md-12">
              <h2 class="mb-4">form update kepanitiaan</h2>
            </div>
          </div>
          <form class="">
            <div class="form-group"><label>Nama Kepanitiaan</label> <input type="password" class="form-control mb-1" placeholder="">
                <div class="form-group"><label>Organisasi yang membawahi</label>
                    <div class="input-group mb-3">
                      <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                </div>
              <div class="form-group"><label>Email</label><input type="password" class="form-control" placeholder=""></div>
              <div class="form-group" style=""><label>Website</label><input type="password" class="form-control mb-1" placeholder=""></div>
              <div class="form-group">
                <div class="form-group"><label style="">Kontak</label><input type="password" class="form-control" placeholder=""></div><label>Alamat Website</label><input type="password" class="form-control mb-1" placeholder="">
                <div class="form-group"><label>Kategori</label>
                    <div class="input-group mb-3">
                      <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                </div>
                  <div class="form-group"><label>Logo</label>
                      <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
                </div>
                  </div>
                    <div class="form-group">
                    <label for="exampleFormControlTextarea1">Deskripsi</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
        <div class="col-md-6 ml-0" style="	background-image: linear-gradient(to bottom, rgb(102, 179, 255), rgb(102, 179, 255));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <div class="row mb-3">
            <div class="col-md-12">
              <h2 class="mb-2">daftar kepanitiaan yang terdaftar</h2>
            </div>
          </div>
          <ul class="list-group">
            <li class="list-group-item d-flex text-center text-uppercase justify-content-between align-items-center"> Badan eksekutif mahasiswa<div class="row mb-3">
                <div class="col-md-6"><a class="btn btn-secondary" href="{% url 'update-kepanitiaan' %}">Update</a></div>
                <div class="col-md-6"><a class="btn btn-warning" href="#">Delete</a></div>
              </div>
            </li>
            <li class="list-group-item d-flex text-center text-uppercase justify-content-between align-items-center"> Dewan Perwakilan Mahasiswa<div class="row mb-3">
                <div class="col-md-6"><a class="btn btn-secondary" href="{% url 'update-kepanitiaan' %}">Update</a></div>
                <div class="col-md-6"><a class="btn btn-warning" href="#">Delete</a></div>
              </div>
            </li>
            <li class="list-group-item d-flex text-center text-uppercase justify-content-between align-items-center">ristek<div class="row mb-3">
                <div class="col-md-6"><a class="btn btn-secondary" href="{% url 'update-kepanitiaan' %}">Update</a></div>
                <div class="col-md-6"><a class="btn btn-warning" href="#">Delete</a></div>
              </div>
            </li>
            <li class="list-group-item d-flex text-center text-uppercase justify-content-between align-items-center"> Pusilkom<div class="row mb-3">
                <div class="col-md-6"><a class="btn btn-secondary" href="{% url 'update-kepanitiaan' %}">Update</a></div>
                <div class="col-md-6"><a class="btn btn-warning" href="#">Delete</a></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
