{% extends 'layout/base.html' %}

{% block subtitle %} Masuk {% endblock %}

{% block content %}
  <div class="py-5">
    <div class="col-md-12">
          <h3 class="">Daftar Kepanitiaan Mahasiswa UI</h3>
        </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"> Cras justo odio <span class="badge badge-primary badge-pill">14</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Dapibus ac facilisis in <span class="badge badge-primary badge-pill">2</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
          </ul>
          <a href={% url 'panitia-detail' %} class="btn btn-primary">Lihat detail</a>
        </div>
        <div class="col-md-5 offset-md-1" style="">
          <h4 class="">Daftarkan Kepanitiaan Anda!</h4>
          <h5 class="">Klik tombol dibawah untuk mendaftarkan kepanitiaan Anda!</h5>
          <form id="c_form-h" class="" style="">
            <div class="col-md-6"><a class="btn btn-secondary" href="{% url 'create-kepanitiaan' %}">Daftarkan Kepanitiaan</a></div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
