{% extends 'layout/base.html' %}

{% block subtitle %} Masuk {% endblock %}

{% block content %}

<div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-6 shadow" style="">
          <div class="col-md-12">
            {% if username is None %}
            <h3 class="" style="">Login<br></h3>
              <form action="{% url 'login' %}" method="post">
                  {% csrf_token %}
                  {{ loginform }}
              <button class="btn btn-primary" style="margin-top: 20px" type="submit" value="Submit">
                  Masuk
                  </button>
                </form>
            {% else %}
              <h3>Welcome you are signed in as {{ username }}</h3>
              <a href="{% url 'login' %}?action=logout">LogOut</a>
            {% endif %}
          </div>
        </div>
        <div class="col-md-6 shadow">
          <div class="col-md-12">
            <h3 class="">Baru disini? Daftar sekarang.<br></h3>
            <form action="{% url 'login' %}" method="post">
                  {% csrf_token %}
                  {{ daftarform }}
              <button class="btn btn-primary" style="margin-top: 20px" type="submit" value="Submit">
                  Daftar Sekarang!
                  </button>
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}